body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
    background: #fafafa;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

p:last-child { margin-bottom: 0; }

.tm-page-wrap { 
    max-width: 1400px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: white;
}

.tm-container-outer {
    max-width: 1400px;
    margin: 0 auto;    
}

.tm-content-box { box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); }
.tm-text-gray { color: #787676; }

.tm-text-highlight {
    color: #c66995;
    font-weight: 600;
}

.tm-bg-primary { background: #69c6ba; }
.tm-bg-highlight { background: #c66995; }

.btn-primary {
    background: #69c6ba;
    border: none;
    border-radius: 0;
    outline: none;
}

.btn-primary:hover { background: #c66995; }
.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 50px 35px; }

.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 119px;
    background: white;
}

.tm-top-bar.active {
    height: 60px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link { padding: 20px 35px; }
.tm-top-bar.active .navbar-brand { font-size: 1.4rem; }

.tm-top-bar .navbar-brand img {
    width: 200px;
    height: auto;
}

.tm-top-bar.active .navbar-brand img { width: 40px; }
.tm-top-bar-bg { height: 119px; }
.tm-top-bar a { color: black; }

.navbar-brand {
  font-size: 2.2rem;    
    text-transform: uppercase;    
}

.navbar {
    font-weight: 700;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link.active, .nav-link:hover { color: #69c6ba; }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(104, 199, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler { 
    border-color: rgb(104, 199, 187);
    border-radius: 0;
    cursor: pointer;
}

.tm-banner-title {
    font-size: 3rem;
    margin-bottom: 10px;
}
.tm-banner-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    letter-spacing: 1px;
}

.tm-banner-header { color: white; }
.tm-banner-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}
.tm-banner-bg {
    background: url(../img/banner.jpg) center top no-repeat;    
    min-height: 720px;
    position: relative;
}
.tm-banner-row { 
    position: relative;
    z-index: 100;
    justify-content: center;
    padding-top: 100px;
}
.tm-banner-row-header { text-align: center; }
.tm-down-arrow-link { 
    color: white;
    background-color: #69c6ba;
    border-radius: 50%;
    padding: 10px 15px;
    margin-top: 0px;
    display: inline-block;
}

.tm-down-arrow-link:hover,
.tm-down-arrow-link:focus {
    color: white;
    background-color: #c66995;
}

/* Search form */
select.tm-select.form-control:not([size]):not([multiple]) { height: 45px; }
.form-control {
    font-size: 0.8rem;
    padding: .75rem;
}
label { font-weight: 700; }
.tm-search-form {
    background-color: #f5f6f6;
    padding: 25px 25px 15px;
    width: 100%;
    max-width: 830px;
    margin-left: 15px;
    margin-right: 15px;
}

.tm-form-group { float: left; }
.tm-form-group-pad { padding: 0 8px; }
.tm-form-group-1 { width: 50%; }
.tm-form-group-2 { width: 50%; }
.tm-form-group-3 { width: 25%; }
.form-control { border-radius: 0; }

.tm-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 400;  
    padding: 12px 20px;
}

.tm-btn-white { background: white; }
.tm-btn-white-primary { color: #69c6ba; }
.tm-btn-white-highlight { color: #c66995; }

.tm-btn-white-primary:hover,
.tm-btn-white-primary:focus,
.tm-btn-white-primary:active {
    background: #c66995;
    color: white;
}

.tm-btn-white-highlight:hover,
.tm-btn-white-highlight:focus,
.tm-btn-white-highlight:active {
    background: #69c6ba;
    color: white;
}

.tm-btn-search { width: 100%; }

.tm-btn-search:hover,
.tm-btn-search:active,
.tm-btn-search:focus {
    background: #c66995;
}

.tm-bg-gray { background-color: #efefef; }
.tm-about-text-wrap { max-width: 830px; }

.tm-right {
    display: inline-block;
    float: right;
}

.tm-slideshow-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tm-slideshow-section-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.tm-slideshow { width: 50%; }

.tm-slideshow-description {
    padding: 50px;
    color: white;
    width: 48%;
    z-index: 100;
    margin-left: -42px;
}

.tm-slideshow-description-left {
    margin-left: auto;
    margin-right: -42px;    
}

.tm-position-relative { position: relative; }

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
}

.slick-prev, .slick-next,
.slick-prev:focus,
.slick-prev:active,
.slick-next:focus,
.slick-next:active {
    background: rgba(0,0,0,0.5);    
}

.slick-prev:before, .slick-next:before { font-size: 22px; }

.slick-prev:hover,
.slick-next:hover {
    background: #69c6ba;
}

.tm-slideshow-highlight .slick-prev:hover, 
.tm-slideshow-highlight .slick-next:hover {
    background: #c66995;
}

.slick-prev {
    left: auto;
    right: 95px;
    z-index: 1000;
}

.tm-right .slick-prev {
    left: 42px;
    right: auto;
}

.slick-next { right: 42px; }

.tm-right .slick-next {
    right: auto;
    left: 94px;
}

/* Tabs */
.tm-tabs-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background: #69c6ba;
}

.tm-tab-link {
    padding: 30px 25px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    height: 100%;
}

.tm-tab-link:hover { color: white; }

.tm-tab-link-li {
    background: transparent;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    transition: all 0.3s ease;    
}

.tm-tab-link:hover,
.tm-tab-link.active {
    background: #c66995;
}

.tab-pane {
    max-width: 970px;
    margin: 60px auto;
}

.tm-recommended-place {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 25px;
}

.tm-recommended-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;    
}

.tm-recommended-img { width: 270px; }

.tm-recommended-description-box {
    padding: 30px;
    width: 500px;
}

.tm-recommended-price-box {    
    background-color: #69c6ba;
    background-image: url(../img/button-curve.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 20px;
    width: 200px;
    transition: all 0.3s ease;
}

.tm-recommended-price-box:hover { background-color: #c66995; }

.tm-recommended-price {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.tm-recommended-price-link {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.tm-d-table { display: table; }

footer {
    background: #69c6ba;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;    
    font-size: 0.8rem;
}

footer a { color: #fff; }

footer a:hover { color: #900; }

footer p { color: white; }

.tm-footer-text-highlight {
    color: white;
    font-weight: 600;
}

.tm-footer-text-highlight:hover { color: #c66995; }

.tm-contact-form {
    background: white;
    width: 470px;
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 20px;
    z-index: 1000;
}

.form-control {
    background-color: #f5f5f5;
    border: none;
}

.form-control:focus {
    border-color: #69c6ba;
    box-shadow: 0 0 0 0.1rem #69c6babf;
}

.tm-name-container,
.tm-email-container {
    width: 210px;
    float: left;    
}

.tm-email-container { margin-left: 10px; }

.tm-btn-send {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

#google-map { height: 600px; }

@media screen and (max-width: 1080px) {
    .tm-tab-link-li { width: 25%; }
}

@media screen and (max-width: 1033px) {
    .tm-slideshow-description { width: 55%; }
}

@media screen and (max-width: 991px) {
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px 20px;
        background: white;
    }

    .tm-top-bar, .tm-top-bar-bg { height: auto; }

    #mainNav {
        width: 200px;
        position: absolute;
        top: 53px;
        right: 15px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
        -moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
        box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
    }

    .tm-top-bar {
        height: 60px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
    }

    .tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 15px; }

    .tm-top-bar .navbar-brand { font-size: 1.4rem; }

    .tm-top-bar .navbar-brand img {
        width: 60px;
        height: auto;
    }

    .tm-top-bar .navbar-brand img { width: 40px; }

    .tab-pane {
        margin-left: 20px;
        margin-right: 20px;
    }

    .tm-recommended-description-box { width: 450px; }
}




/* About Us Section
--------------------------------*/

#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}

#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}
.py-5{
  /*margin-left: -300px;*/
  /*margin-right: -250px;*/
  margin-top: 20px;
  background-color: #25383C;
}


.Banner1{
  position: absolute;
  width: 100%
}


<!-----Our Products------->
.tm-gallery-content { padding-top: 180px; }

.tm-content-box-right {
  margin-left: auto;
  margin-right: 0;
}

.tm-small-font { font-size: 1rem; }

.tm-page-content-width {
  max-width: 1200px;
  margin: 0 auto; 
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;  
}

.tm-padding-b { padding-bottom: 80px; }
/*.tm-page-content-width,.tm-content-box { min-height: ; }*/

.tm-flex-col {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -ms-flex-direction: column;
        -webkit-flex-direction: column;
            flex-direction: column;    
}

.tm-media-icon {
  margin-right: 30px;
  margin-bottom: 0;
}

/* IE fix */
.tm-media-body { 
  flex: 1 1 auto; 
  width: 100%; 
}

/* Gallery */
/*.tm-section-gallery { min-height: 1100px; }*/
.filter-wrapper { padding-left: 0; }
.filter-wrapper li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

.filter-wrapper li:last-child { margin-right: 0; }

.filter-wrapper li a {
  background-color: white;
    color: #666;
    font-weight: 400;
    padding: 6px 20px;    
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.filter-wrapper li a.selected { 
  background-color: #666666; 
  color: white;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 15px;
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
}
.iso-box-section {
  margin-left: -8px;
    margin-right: -8px;
}

/* Contact */
.form-control {
  background-color: transparent;
  border-radius: 0;
  font-size: 1.15rem;
  padding: .9rem 1.25rem;
}

.form-control:focus {
  background-color: transparent;
  border-color: #983333;
}

.form-group { margin-bottom: 1.2rem; }
.tm-section-contact { position: relative; }

.tm-copyright-div { 
  color: white;
  display: inline-block;
  padding: 30px 35px;
  position: absolute;
    bottom: 0;
    right: 0;    
}

.tm-copyright-text { 
  font-size: 1.18rem;
    margin-bottom: 0;
    font-weight: 300;
}

.tm-copyright-text a {
  color: #fff;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  .tm-gallery-content { padding-top: 150px; }
  .tm-section-gallery { min-height: 900px; }
  .tm-page-content-width,.tm-content-box { min-height: 1200px;  }
}

@media screen and (max-width: 767px) {
  .tm-gallery-content { padding-top: 100px; }
  .tm-content-box { padding: 100px 60px 100px; }
  .tm-section-gallery { min-height: 1050px; } 
  .tm-page-content-width,.tm-content-box { min-height: 1050px;  }
  .tm-site-title-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-height: 639px) {
  .tm-section-home { min-height: 100%; }
}

@media screen and (max-width: 575px) {
  .tm-gallery-content {padding-bottom: 150px;}  
}

@media screen and (max-width: 420px) {
  .tm-media {
    flex-direction: column;
    align-items: center;
  }

  .tm-media-icon {
    margin-right: 0;
    margin-bottom: 30px;
  }
}


.Banner{
  width: 100%;
}
.overlay-content{
  position:absolute;
  top:23%;
  left: 40%;
}

.slogan {
    padding: 100px 0 100px;
    text-align: center;
    color: #fafafa;
    font-weight: 500;
    font: 50px/50px 'Open Sans', sans-serif;
    background: url(../images/slogan_bg.jpg) center 0 no-repeat
    height
}


.links {
    padding: 95px 0 94px;
}

.links a {
    padding-top: 78px;
    padding-bottom: 77px;
    padding-left: 178px;
    display: block;

    background-color: #5a4275;
    color: #fff;
    font: 300 48px/60px 'Open Sans', sans-serif;
}

.links a strong {
    margin-bottom: 8px;
    margin-left: -75px;
    font-size: 68px;
    display: block;
    font-weight: normal;
}

.links a:hover {
    background-color: #fff !important;
    color: #5a4275;
}

.links a.l1 {
    background-color: #e06091;
}

.links a.l2 {
    background-color: #81548b;
}
.container_12 .grid_4 {
  width:380px;
}
.caption-image > img{
   width: 100%;
   padding:auto 0;
}
.log-img{
  width: 200px;
}

